// Conteneur racine officiel (en Front comme en Back-office)
.wp-site-blocks {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Empêche le header et le footer de se déformer
.site-header,
.site-footer {
  flex-shrink: 0;
}

// La zone de contenu central s'étire pour occuper tout l'espace disponible
.site-content,
main.site-content {
  flex-grow: 1;
}