@use 'sass:map';
@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../abstracts/placeholders';

.site-header {
  background-color: var(--bg-surface);
  // background-color: #f1f1f1;
  // border-bottom: 1px solid var(--border-color);
  position: sticky;
  top: 0;
  z-index: map.get(vars.$z-indexes, 'header');

  &__inner {
    @include mix.flex-between;
    padding-top: vars.$spacing-base;
    padding-bottom: vars.$spacing-base;
  }

  &__branding {
    display: flex;
    align-items: center;
    gap: vars.$spacing-sm;

    .brand-logo {
      display: inline-block;

      img {
        width: auto;
        max-height: 50px;
      }
    }

    .brand-name {
      @include mix.heading-size('h4');
      margin: 0;

      a {
        color: var(--text-main);
        text-decoration: none;
      }
    }

    .brand-tagline {
      margin: 0;
      color: var(--text-muted);
      font-size: vars.$font-size-sm;

      @include mix.respond-down('md') {
        @include mix.visually-hidden;
      }
    }
  }
}